{% load static %}

{% include 'pages/index.html' %}

<br>
<br>
<br>
<br>
<br>
<center>
      <h3> Artist Info</h3>
      </center>
      <br>
      <br>

      {% for painter in painters %}
      <h3>Picture: <img src="{{painter.profile_picture.url}}" style="width: 100px; height: 100px;"></h3>
      <h3>Name: {{painter.name}}</h3>
      <h3>Email:{{painter.email}}</h3>
      <h3>Age: {{painter.age}}</h3>
      <h3>Date Started:{{painter.date_born}}</h3>
      <h3>Description:{{painter.description}}</h3>
      {% endfor %}
           
</html>
</div>
